# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
.env
.venv/
venv/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
*.sqlite3

# VSCode
.vscode/

# Docker
*.pid
*.tar
*.gz
*.bak
docker-compose.override.yml

# Alembic
migrations/__pycache__/
migrations/versions/__pycache__/
